<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389423974340-oca6pse5m0ateofssdh61m3ev2k9dj0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389423974340-oca6pse5m0ateofssdh61m3ev2k9dj0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCkND3D3LfHjm9mdXiVDCx5fMlbVYDH4c8</string>
	<key>GCM_SENDER_ID</key>
	<string>389423974340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trial1</string>
	<key>PROJECT_ID</key>
	<string>smart-campus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-campus-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389423974340:ios:095154fe99aeefe6c9c691</string>
</dict>
</plist>